@model GrocerApp.ViewModel.ResetPasswordModel
@{
    ViewBag.Title = "RecoveryPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <h3>Recover password</h3>
    </div>
    <div class="validation-summary-errors">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
    <div class="form-group">
        <button style="max-width:none;width:280px" type="submit" class="btn btn-primary">Reset</button>
    </div>
    <div class="form-group">
        <p>Remembered your password? <a href="@Url.Action("Login", "Account")">Back to login</a></p>
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script>
    // Add client-side validation for password match
    jQuery.validator.addMethod("passwordmatch", function (value, element, params) {
        return value == $("#" + params);
    });

    jQuery.validator.unobtrusive.adapters.add("passwordmatch", ["confirmproperty"], function (options) {
        options.rules["passwordmatch"] = "#" + options.params.confirmproperty;
        if (options.message) {
            options.messages["passwordmatch"] = options.message;
        }
    });

    $(document).ready(function () {
        $.validator.unobtrusive.parse("#formId"); 
    });
</script>
